.outboardingMobileContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.progressBarContainer {
  width: 100%;
}

.textProgressBar {
  font-size: 5vw;
  color: var(--white);
}

.blocTitle {
  color: var(--dark-blue);
  font-size: 5vw;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.appointmentBloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.startText {
  text-align: center;
  color: var(--dark-blue);
  font-size: 5vw;
  font-weight: 400;
  margin-bottom: 4vh;
}

.quizButton {
  border: none;
  background-color: var(--pink);
  color: var(--white);
  width: 35vw;
  height: 50px;
  border-radius: 20px;
  font-size: 1.1rem;
}

.selectMenu {
  border: none;
}

.menuList {
  margin-bottom: 2vh;
  border-radius: 10px;
  color: var(--dark-blue);
  border: solid 1px var(--dark-blue);
  padding: 0.5rem 1rem;
}

.menuList:focus {
  outline-color: var(--green);
}

.mapContainer {
  width: 100%;
  height: 30vh;
}

.practitionerName {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 4vw;
}

.practitionerInfos {
  color: var(--dark-blue);
  font-size: 3vw;
}
