@import "../../../GlobalVariables.css";

.headerContainer {
  background-color: transparent;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0 3rem;
}

.dateContainer {
  font-size: 2rem;
}
