.modalButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
}

.modalButton:hover {
  background-color: transparent;
}

.modalButton:active {
  background-color: transparent;
}

.titleModalStyle {
  font-weight: 600;
  color: var(--dark-blue);
}
