@import "../../../GlobalVariables.css";

.headerContainer {
  background-color: transparent;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0 3rem;
  margin-bottom: 4px;
}

.nameContainer {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 2rem;
}

.question {
  font-size: 2rem;
}

.calendarAndNotifsContainer {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendarContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  width: 75%;
}

.remainingDays {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--very-light-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--basic-shadow);
}

.daysText {
  font-size: 2rem;
}

.littleText {
  font-size: 1rem;
  color: var(--grey);
}

.normalText {
  font-size: 1.2rem;
  font-weight: 600;
}

p.hoursText {
  color: var(--white);
  background-color: var(--main-purple);
  padding: 0.3rem;
  width: 4rem;
  border-radius: 0.5rem;
  text-align: center;
}

.dateContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}

button.notificationsContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  box-shadow: var(--basic-shadow);
  position: relative;
  background-color: transparent;
}

.bellIcon {
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 100;
  top: 25%;
  left: 26%;
  position: absolute;
}

.notificationNumber {
  width: 50%;
  height: 50%;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
