.headerMobile {
  height: 21vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: var(--basic-shadow);
  padding: 1rem;
  position: relative;
  z-index: 5;
}

.infosPatientContainer {
  flex: 2;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatarContainer {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/avatar.jpeg");
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

.nameAndProgressBar {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameAndProgressBar p {
  font-weight: 200;
  color: var(--dark-blue);
}

.patientName {
  font-size: 5vw;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: var(--dark-blue);
}

.textProgressBar {
  font-weight: 500;
  font-family: var(--font);
  font-size: 3vw;
  color: var(--white);
  padding-right: 0.5rem;
}

.dateAndHourContainer {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateContainer {
  flex: 3;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dateContainer p,
.hourContainer p {
  color: var(--main-purple);
  font-size: 4vw;
}

.dateContainer h4,
.hourContainer h4 {
  font-size: 5vw;
  color: var(--dark-blue);
  font-weight: 500;
}

.hourContainer {
  flex: 1;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
