.paperworkPageContainer,
.paperworksDesktopPage {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.prepContainer {
  background-color: azure;
  flex: 3;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--light-grey);
  border: solid 3px var(--light-turquoise);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.fullCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  gap: 1vh;
}

.documentsContainer {
  width: 100%;
  height: 100%;
}

.docsContainer {
  height: 100%;
}

.docsContainer {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
}

.documentCard {
  width: 15vh;
  height: 15vh;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.infoPatient {
  background-image: url("../../assets/paperworks-infospatient.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.insurance {
  background-image: url("../../assets/health-insurance.png");
  background-position: center;
  background-size: contain;
  background-size: 80%;
}

.contract {
  background-image: url("../../assets/contract.png");
  background-position: center;
  background-size: contain;
}

.doctor {
  background-image: url("../../assets/doctor.png");
  background-position: center;
  background-size: contain;
  background-size: 80%;
  background-repeat: no-repeat;
}

.invoice {
  background-image: url("../../assets/invoice.png");
  background-position: center;
  background-size: contain;
  background-size: 80%;
  background-repeat: no-repeat;
}

.topCard {
  width: 100%;
  display: flex;
  justify-content: end;
}

.topCard input {
  margin-right: 10px;
}

.topCard input:focus {
  outline: none;
}

.linkContainer {
  width: 100;
  height: 100%;
}

.bottomCard {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.infosCard {
  width: 100%;
  text-align: center;
  color: var(--dark-blue);
}
