.serenityPageContainer {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: var(--font);
}

.prepContainer {
  background-color: azure;
  flex: 3;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--light-grey);
  border: solid 3px var(--light-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAndQuizContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.quizContainer {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6vw;
  margin-bottom: 3vh;
}

.leftContainer,
.rightContainer {
  flex: 1;
  height: 1;
  height: 100%;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(214, 214, 214);
  border-radius: 1.5rem;
}

.imageDouche {
  background-image: url("../../assets/douche.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: var(--basic-shadow);
}

.imageSejour {
  background-image: url("../../assets/preparation_hopital.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: var(--basic-shadow);
}

.imageJourJ {
  background-image: url("../../assets/jour_j.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: var(--basic-shadow);
}

.textContainer {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  color: var(--dark-blue);
  font-size: 1.2vw;
  line-height: 25px;
}

.stepText {
  color: var(--turquoise);
  margin-bottom: 2vh;
  font-size: 1.5vw;
}

.stepTitle {
  color: var(--dark-blue);
  font-size: 1.5vw;
  margin-bottom: 3vh;
  font-size: 1.5vw;
}

.buttonsContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.firstPageButtonContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.quizButton {
  border: none;
  background-color: var(--pink);
  color: var(--white);
  width: 10vw;
  padding: 1.3vh;
  border-radius: 15px;
  font-size: 1.1rem;
}

.quizButton:hover {
  background-color: var(--white);
  color: var(--pink);
}

.previousButton {
  background-color: var(--dark-blue);
}

.previousButton:hover {
  color: var(--dark-blue);
  background-color: var(--white);
}

.endButton {
  background-color: var(--medium-grey);
  color: var(--dark-blue);
  pointer-events: none;
}
