.understandingPageContainer,
.understandingDesktopContainer {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.prepContainer {
  flex: 3;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--light-grey);
  border: solid 3px var(--light-yellow);
  color: var(--dark-blue);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.leftContainer {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.docsTitle {
  font-size: 1.2rem;
}

.docsContainer,
.videosContainer {
  height: 100%;
}

.docsContainer {
  display: flex;
  flex-direction: column;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.checkboxText {
  font-weight: 200;
}

.videoStyle {
  border: solid 1px var(--dark-blue);
  border-radius: 15px;
  box-shadow: var(--basic-shadow);
}

.rightContainer {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.documentCard {
  width: 15vh;
  height: 15vh;
  background-color: var(--light-yellow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.topCard {
  width: 100%;
  display: flex;
  justify-content: end;
}

.checkboxContainer input {
  margin-right: 10px;
}

.checkboxContainer input:focus {
  outline: none;
}

.bottomCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.videosContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.videoCardAndName {
  width: 100%;
  height: 10vh;
  display: flex;
}

.videoCard {
  width: 10vh;
  height: 10vh;
  background-color: var(--light-yellow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.videoTextBloc {
  height: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videoName {
  font-weight: 600;
}

.videoTime {
  color: var(--grey);
}
