@import "../../../GlobalVariables.css";

.layoutContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.headerAndPageContainer {
  height: 100%;
  flex: 4.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/Hexagon-red.svg");
  background-size: cover;
}

.outletContainer {
  width: 100%;
  height: 100%;
  flex: 6;
  padding: 3rem;
}
