/* Fichier des variables globales du projet
Penser à l'importer dans chaque fichier .module.css (import from "./chemin vers ce fichier") */

/* POLICE */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* VARIABLES */

:root {
  /* COLORS */

  --main-purple: #6c5dd3;
  --light-purple: #938ad1;
  --turquoise: #079fa5;
  --light-turquoise: #47cacf;
  --yellow: #d9b520;
  --light-yellow: #ffde86;
  --green: #44d660;
  --light-green: #66e47a;
  --pink: #f8749f;
  --light-pink: #f8749f;
  --text-active: #11142d;
  --grey: #808191;
  --medium-grey: #d4d2c9;
  --light-grey: #f6f4f4;
  --white: #ffffff;
  --orange: #ff754c;

  --font: "Inter", sans-serif;
}
