@import url("../../../GlobalVariables.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.closeButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.addPatientContainer {
  width: 100%;
  height: 100%;
  border: solid 3px var(--main-purple);
  border-radius: 1.5rem;
  background-color: var(--white);
  box-shadow: var(--basic-shadow);
  background-color: var(--light-grey);
  padding: 2rem;
}

.AddNewPatientContainer {
  font-size: 2rem;
  font-weight: 300;
}

.dataContainer {
  flex: 5;
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  box-shadow: var(--basic-shadow);
  overflow: hidden;
}

.AddPatientFormContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 0.8fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
}

.AddNewPatient {
  grid-area: 1 / 1 / 2 / 2;
}

.ButtonAddPatientContainer {
  grid-area: 1 / 5 / 2 / 6;
}

.ButtonAddPatientContainer {
  display: grid;
  place-items: center;
  justify-content: center;
  width: 50%;
  height: 4rem;
  background-color: var(--main-purple);
  border: none;
  color: var(--white);
  border-radius: 0.8rem;
  box-shadow: var(--basic-shadow);
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-size: 1.2rem;
}

.ButtonAddPatientContainer:hover {
  background-color: var(--light-purple);
}

.ButtonAddPatientContainer form {
  margin: 0;
}

.MaritalStatusContainer {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 1rem;
  font-weight: 600;
}

.SexContainer {
  display: flex;
  align-items: center;
  grid-area: 4 / 1 / 5 / 2;
}

.SexContainer > div {
  display: flex;
  align-items: center;
}

.RadioButtonContainer {
  margin-right: 10px;
}

.RadioButtonLabelContainer {
  margin-left: 5px;
}

.LastNamePatientContainer {
  grid-area: 4 / 3 / 5 / 4;
}

.FirstNamePatientContainer {
  grid-area: 4 / 5 / 5 / 6;
}

.SocialSecuNumberContainer {
  grid-area: 5 / 1 / 6 / 2;
}

.NationalityContainer {
  grid-area: 5 / 3 / 6 / 4;
}

.AgeContainer {
  grid-area: 5 / 5 / 6 / 6;
}

.AdressAndContactContainer {
  grid-area: 7 / 1 / 8 / 2;
  font-size: 1rem;
  font-weight: 600;
}

.AdressContainer {
  grid-area: 8 / 1 / 9 / 2;
}

.ZipCodeContainer {
  grid-area: 8 / 3 / 9 / 4;
}

.CityContainer {
  grid-area: 8 / 5 / 9 / 6;
}

.PhoneNumberContainer {
  grid-area: 9 / 1 / 10 / 2;
}

.emailContainer {
  grid-area: 9 / 5 / 10 / 6;
}

.ImportantContainer {
  grid-area: 11 / 1 / 12 / 2;
  font-size: 1rem;
  font-weight: 600;
}

.AllergyContainer {
  grid-area: 12 / 1 / 13 / 2;
}

.BloodGroupContainer {
  grid-area: 12 / 3 / 13 / 4;
}

.RemarkContainer {
  grid-area: 12 / 5 / 13 / 6;
}
