@import "../../GlobalVariables.css";

.dashboardPageContainer {
  width: 100%;
  height: 100%;
  border: solid 3px var(--red);
  border-radius: 1.5rem;
  background-color: var(--light-grey);
  box-shadow: var(--basic-shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
