@import url("../../../GlobalVariables.css");

.dashboardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.leftContainer,
.rightContainer {
  flex: 1;
  height: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
}

.leftContainer,
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleContainer {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.dataContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
}

.dataCard {
  flex: 1;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: var(--basic-shadow);
}

h2.dataTitle {
  font-size: 1.8rem;
  font-weight: 400;
}

.dataValue {
  font-size: 2.5rem;
  color: var(--main-purple);
}

.dataNextValue {
  font-size: 2rem;
  color: var(--main-purple);
}

.nextInterTitle {
  font-size: 1.5rem;
  font-weight: 600;
}
