@import url("../../../GlobalVariables.css");

.tableContainer {
  width: 100%;
  border-radius: 1.5rem;
  background-color: var(--white);

  display: grid;
  grid-template-columns: 1fr 2fr repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 14px;
}

.titleContainer {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 4rem;
  font-weight: 400;
  padding-top: 10%;
}

.NumberPatientContainer {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 2rem;
  padding-top: 10%;
}

.NumberInterventionContainer {
  grid-area: 3 / 2 / 4 / 3;
  font-size: 2rem;
  padding-top: 10%;
}

.NumberPractitionerContainer {
  grid-area: 4 / 2 / 5 / 3;
  font-size: 2rem;
  padding-top: 10%;
}
